{% extends "model-page.html" %}

{% block content %}

<h2>EVENTO</h2>
<form action="submit" method="POST"> {% csrf_token %}
    <Label>Título</Label>
    <br>
    <input type="text" name="titulo" size="23">
    <br>
    <Label>Data do Evento: </Label>
    <br>
    <input type="datetime-local" name="data_evento">
    <br>
    <Label>Descrição</Label>
    <br>
    <textarea name="descricao" rows="5" cols="24"></textarea>
    <br><br>
    <button type="submit">Salvar</button>
    <a href="/">
        <button type="button">Cancelar</button>
    </a>
</form>


{% endblock %}